html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #5a2d1f;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background:  rgba(27, 9, 2, 1);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
}

.logo img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  transition: transform 0.3s;
  filter: invert(1);
}

.logo:hover img {
  transform: scale(1.1);
}

.page-wrapper {
  position: relative;
  z-index: 1;
  padding: 60px 48px 80px;
  max-width: 1100px;
  margin: 0 auto;
}

.buttons button,
.toggle-buttons button,
button {
  margin-left: 20px;
  background: #E76F51;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  white-space: nowrap;
  gap: 5px 5px;
  font-size: 14px;
}

.buttons button:hover,
.toggle-buttons button:hover,
button:hover {
  background: #F4A261;
  color: white;
  transition: 0.3s;
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 200px;
  }
}

.buttons a {
  color: white;
  font-family: 'Nunito', sans-serif;
  background: #E76F51;
  border: none;
  margin-left: 20px;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 10px;
  gap: 5px 5px;
  font-size:14px;
}

.buttons a:hover {
  background: #F4A261;
  color: white;
}

.modal {
  background: #2e1108;
  border-radius: 20px;
  padding: 40px;
  max-width: 440px;
  width: 90%;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fadeIn 0.2s ease;
}

.modal h2 {
  font-family: 'Nunito', serif;
  font-size: 22px;
  color: white;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 12px;
}

.modal p {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  margin-bottom: 28px;
  line-height: 1.6;
}

.modal .buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.toast {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: #2e1108;
  border: none;
  border-radius: 10px;
  padding: 2cap 54px;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 9999;
  box-shadow: 0 12px 40px rgba(0,0,0,0.5);
  animation: slideIn 0.35s cubic-bezier(.22,1,.36,1) forwards;
  max-width: 340px;
}

.toast.success { border-color: #4caf50; }
.toast.error   { border-color: #f44336; }

.grid {
  justify-self:center;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px 220px;
}

/* DONATE CSS */
.card {
  background: #E76F51;
  color: white;
  font-family: 'Nunito', sans-serif;
  padding: 20px;
  border-radius: 20px;
  width: 250px;
  border: 2px solid #E76F51;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  background: #F4A261;
  color: white;
  transition: 0.3s;
}

.card button {
  background: #2e1108;
  border: none;
  padding: 18px 22px;
  border-radius: 10px;
  color: white;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

.card button:hover {
  background: #E76F51;
  color: white;
  transition: 0.3s;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px;
  height: 700px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1,
.container h2,
.container h3,
.container p{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.hidden {
  display: none !important;
}

.dropdown-header {
  width: 465px;
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  background: #444;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

.custom-dropdown {
  width: 500px;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  margin:20px;
}

.dropdown-header::after {
  content: "⌄";
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(111, 109, 109);
  font-size: 18px;
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 110%;
  width: 100%;
  background: #333;
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
}

.dropdown-options div {
  padding: 12px;
  cursor: pointer;
}

.dropdown-options div:hover {
  background: #E76F51;
}

select,
input {
  width: 320px;
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  display: grid;
  width: 500px;
  box-sizing: border-box;
  grid-template-columns: repeat(1, 1fr);
  background: #444;
  color: white;
  margin: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

input::placeholder {
  color: white;
  opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #444 inset;
}

#ngoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: #5a2d1f;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  animation: popupFade 0.3s ease;
}

.popup-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.popup-actions button {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
}

.popup-actions button:first-child {
  background: #ff8c66;
}

.popup-actions button:last-child {
  background: #ff0303;
  color: black;
}

/* ADOPT CSS */
.animal-card {
  background: #E76F51;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.animal-card:hover {
  transform: scale(1.05);
  background: #F4A261;
}

.animal-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.animal-card h2 {
  margin: 10px 0 5px;
  font-size: 24px;
}

.animal-card p {
  margin: 5px 0;
  font-size: 18px;
}

.animal-card button {
  margin-top: 10px;
  padding: 10px;
  width: 60%;
  border-radius: 10px;
  border: none;
  background: #5a2d1f;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
  color: white;
}

.animal-card button:hover {
  background: #E76F51;
}